spacy
wheel
numpy
pandas
tensorflow
tensorflow-gpu
torch
sktime
sklearn
scipy
jupyter
matplotlib
spark-nlp
pyspark
SQLAlchemy
scipy
ipython
sympy
nose
fbprophet
beautifulsoup4
Theano
dash
flask
lightgbm
statsmodels
pymc3
